/* RestaurantDetails.module.css */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    color: #333;
  }
  
  subHeading {
    color: #555;
  }
  
  .link {
    color: #007bff;
    text-decoration: none;
  }
  